# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database files
*.db
*.sqlite
*.sqlite-journal

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Temporary files
tmp/
temp/
*.tmp

# Editor and IDE files
.idea/
.vscode/
*.swp

# Coverage reports
coverage/
.nyc_output/

# Dependency directories
jspm_packages/
bower_components/

# Testing-related files
*.spec.js
*.test.js
